<div class="container">
    <div class="row">
    </div>
    <div class="row">
        <form [formGroup]="propositionForm" (ngSubmit)="onSubmitProposition()">
            <div class="text-center">
                <h4>
                    Proposition
                </h4>
            </div>
            <input
                class="form-control"
                formControlName="proposition" 
                [ngClass]="{'form-invalid-input': pf['proposition'].errors}"
            >
            <div *ngIf="pf['proposition'].errors" class="form-invalid-message w-100 text-start">
                <div *ngIf="pf['proposition'].errors['maxlength']">Longueur maximale dépassée (4 cars.)</div>
                <div *ngIf="pf['proposition'].errors['pattern']">Veuillez entrer seulement des nombres !</div>
            </div>

            <button
                type="submit"
                class="btn btn-primary"
                (submit)="onSubmitProposition()"
                [disabled]="buttonDisabled"
            >
                <span>VALIDER</span>
            </button>
        </form>    
    </div>
</div>