<ng-container *ngIf="hide; else headerVisible">
</ng-container>
<ng-template #headerVisible class="mb-4">
    <nav class="navbar navbar-expand-sm navbar-light bg-light sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <span class="material-symbols-outlined d-inline-block align-text-top">
                    smart_toy
                </span>
                GameBot <span [ngStyle]="{'color': connected ? 'green' : 'red'}">⬤</span>
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Jouer</a>
                    </li>
                </ul>
            </div>
            <div class="text-end">
                <div *ngIf="playerService.player" class="mx-md-5">
                    {{ playerService.player.nickname }}
                </div>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
</ng-template>