<div id="gameCarousel" class="carousel slide" data-bs-pause="true">
    <div class="carousel-inner">
        <div *ngFor="let game of games; let isFirst = first;">
            <div class="carousel-item" [ngClass]="{'active': isFirst}">
                <div class="row justify-content-center">
                    <div class="col"></div>
                    <div class="col-9 col-sm-9">
                        <app-game-card [game]="game"></app-game-card>
                    </div>
                    <div class="col"></div>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control carousel-control-prev" data-bs-target="#gameCarousel"
        data-bs-slide="prev" [ngStyle]="{'color': games[current].color.toRGBA()}" (click)="onPrevious()">
        <span class="material-symbols-outlined carousel-control-arrow">
            keyboard_arrow_left
        </span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control carousel-control-next" data-bs-target="#gameCarousel"
        data-bs-slide="next" [ngStyle]="{'color': games[current].color.toRGBA()}" (click)="onNext()">
        <span class="material-symbols-outlined carousel-control-arrow">
            keyboard_arrow_right
        </span>
        <span class="visually-hidden">Next</span>
    </button>
</div>